include ../control-elements/buttons/btn-main
include ../control-elements/inputs/input-main
include ../control-elements/textarea/textarea

mixin contacts-details
    .contacts-details(class = attributes.class)
        .contacts-details__info
            p.contacts-details__text
                b ООО «Все для календарей»
            p.contacts-details__text Телефон:&nbsp
                a(href='tel:+74952873377').contacts-details__phone.contacts-details__link +7 (495) 287-33-77
            .contacts-details__requisites
                a(href="#") Реквизиты

            p.contacts-details__text
                b ИП Зарецкий А.В.
            p.contacts-details__text Телефон:&nbsp
                a(href='tel:+74957773053').contacts-details__phone.contacts-details__link +7 (495) 777-30-53
            .contacts-details__requisites
                a(href="#") Реквизиты

            p.contacts-details__text Адрес: 107497, Москва, Амурская улица, дом 5, стр. 2
            p.contacts-details__text
                | E-mail:&nbsp
                a(href="mailto:info@polimat.ru") info@polimat.ru


        .contacts-details__work
            .contacts-details__title
                | Режим работы

            .contacts-details__schedule
                span Пн—Пт
                span 09:15—18:00

            .contacts-details__schedule
                span.is-red Сб—Вс
                span.is-red Выходной

mixin contacts-manager(name, email, phoneExtra, icq, skype)
    .contacts-managers__row
        .contacts-managers__col
            span #{name}
        .contacts-managers__col
            .contacts-managers__head.contacts-managers__head--m-only Email
            a(href='mailto:' + email).contacts-managers__email #{email}
        .contacts-managers__col
            .contacts-managers__head.contacts-managers__head--m-only Телефон
            span +7 (495) 287-33-77&nbsp
                b доб. #{phoneExtra}
        .contacts-managers__col.contacts-managers__col--small
            .contacts-managers__head.contacts-managers__head--m-only ICQ
            span #{icq}
        .contacts-managers__col.contacts-managers__col--small
            .contacts-managers__head.contacts-managers__head--m-only Skype
            span #{skype}

mixin contacts-managers
    .contacts-managers(class = attributes.class)
        .contacts-managers__title Менеджеры

        .contacts-managers__row.contacts-managers__row--m-none
            .contacts-managers__col
                .contacts-managers__head
            .contacts-managers__col
                .contacts-managers__head Email
            .contacts-managers__col
                .contacts-managers__head Телефон
            .contacts-managers__col.contacts-managers__col--small
                .contacts-managers__head ICQ
            .contacts-managers__col.contacts-managers__col--small
                .contacts-managers__head Skype

        .contacts-managers__head Руководитель продаж
        +contacts-manager('Елена Шингарева', 'elena@polimat.ru', '160', '215-989-618', 'e.shingareva')

        .contacts-managers__head.contacts-managers__head--m-t-1 Менеджеры
        +contacts-manager('Наталия Кузьмина', 'n.kuzmina@polimat.ru', '255', '622-345-544', 'o_r_a_n_d_a')
        +contacts-manager('Галина Крикун', 'g.krikun@polimat.ru', '217', '279-781-352', 'galinka.sl')
        +contacts-manager('Татьяна Сапрыкина', 's.tatyana@polimat.ru', '436', '422-993-435', 's.tatyna77')

mixin contacts-map
    .contacts-map(class = attributes.class)
        .contacts-map__inside
            iframe(src="https://yandex.ru/map-widget/v1/-/CKu4bP9u" width="100%" height="100%" frameborder="1" allowfullscreen="true" style="position:relative;")
        .contacts-map__more
            a(href="how-to-get.html") Подробнее о том, как добраться
mixin contacts-callback
    .contacts-callback(class = attributes.class)
        .contacts-callback__title Связаться с нами
        form.contacts-callback__form
            .contacts-callback__input-group
                .contacts-callback__input-row
                    .contacts-callback__input
                        +input-main-handler(placeholder = 'Вашe имя' name='contact-input__name' id='contacts-callback__input')
                    .contacts-callback__input.contacts-callback__input--col50
                        +input-main-handler(placeholder = 'Ваш e-mail' name='contact-input__email' data-require data-email)
                    .contacts-callback__input.contacts-callback__input--col50
                        +input-main-handler(mask='+7 (###) ### ## ##' id="contact__input-phone" name='contact__input-phone'
                            class="inp inp--default inp--error inp--valid contact__input-phone contact__input-phone-js"
                            placeholder='Ваш телефон' data-require data-require-length=18)
            .contacts-callback__area
                +textarea(cols='1' rows='3' placeholder='Ваше сообщение' name='contact-input-on-main')
            .contacts-callback__policy
                | Оставляя данные на этом сайте вы соглашаетесь с&nbsp
                a(href="#")  Политикой конфиденциальности.
            .contacts-callback__btn
                +btn-main(theme='blue-invert contact-btn-on-main' class='btn-form-submit'
                id='.contacts-callback__btn-submit' name='contacts-callback__btn-submit') Отправить